@model BugTracker.Models.Ticket

@{
    ViewData["Title"] = "Details";
}
@using BugTracker.Services.Interfaces;
@using Microsoft.AspNetCore.Identity;
@using BugTracker.Extensions;
@inject IBTCompanyInfoService CompanyInfoService
@inject IBTRolesService RolesService
@inject IBTProjectService ProjectService
@inject IBTFileService BtFileService
@inject IBTTicketService TicketService
@inject UserManager<BTUser> UserManager

@{
    int companyId = User.Identity.GetCompanyId().Value;
    BTUser btUser = await UserManager.GetUserAsync(User);
}


<h1>Details</h1>

<!-- Main content -->
<<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <!--BreadCrumb-->
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fade fa-arrow-left"></i></a></h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href=""><i class="icon-home"></i></a></li>
                        @*<li class="breadcrumb-item active">Dashboard</li>*@
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Sales Cards  -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-cyan text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i></h1>
                    <h6 class="text-white">Dashboard</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-4 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-success text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-chart-areaspline"></i></h1>
                    <h6 class="text-white">Charts</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-warning text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                    <h6 class="text-white">Widgets</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-danger text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-border-outside"></i></h1>
                    <h6 class="text-white">Tables</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-info text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-arrow-all"></i></h1>
                    <h6 class="text-white">Full Width</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-md-6 col-lg-4 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-danger text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-receipt"></i></h1>
                    <h6 class="text-white">Forms</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-info text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-relative-scale"></i></h1>
                    <h6 class="text-white">Buttons</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-cyan text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-pencil"></i></h1>
                    <h6 class="text-white">Elements</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-success text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-calendar-check"></i></h1>
                    <h6 class="text-white">Calnedar</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-warning text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-alert"></i></h1>
                    <h6 class="text-white">Errors</h6>
                </div>
            </div>
        </div>
    </div>
</div>


































@*<div class="card-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                <div class="col-md-6 col-lg-2 col-xlg-3">
                    <div class="card card-hover">
                        <div class="box bg-cyan text-center">
                            <span class="info-box-text text-center text-muted">Priority</span>
                            <h6 class="info-box-number text-center text-muted mb-0">@Model.TicketPriority.Name</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                    <div class="info-box-content">
                        <span class="info-box-text text-center text-muted">Status</span>
                        <span class="info-box-number text-center text-muted mb-0">@Model.TicketStatus.Name</span>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="info-box bg-light">
                    <div class="box bg-cyan text-center">
                        <span class="info-box-text text-center text-muted">Type</span>
                        <span class="info-box-number text-center mb-0">@Model.TicketType.Name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>Recent Activity</h4>
            <form asp-action="Create" asp-controller="TicketComments" enctype="multipart/form-data" method="post">
                <input type="hidden" name="TicketId" value="@Model.Id" />
                <textarea class="form-control" name="Comment" rows="3" placeholder="Add a comment"></textarea>
                <button class="btn btn-dark btn-block btn-small Oz" type="submit">Add Comment</button>
            </form>
            @foreach (TicketComment comment in Model.Comments)
            {
                <div class="post">
                    <div class="user-block">
                        <span class="username">
                            <a href="#">@comment.User.FullName</a>
                        </span>
                        <span class="description"> @comment.Created</span>
                    </div>*@



<div class="border-1 border-light">
    <form asp-action="Create" asp-controller="TicketAttachments" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.Id" name="TicketId">


        <div class="media-body ml-3">
            <label class="form-label d-block mb-2">Add Attachment</label>
            <label>
                Description
                <input asp-for="@Model.Attachments.FirstOrDefault().Description" type="text" class="form-control" />
            </label><br />
            <label class="btn btn-outline-primary btn-sm">
                <input asp-for="@Model.Attachments.FirstOrDefault().FormFile" type="file" />
            </label>
            <button type="submit" class="btn btn-outline-secondary btn-sm md-btn-flat">Submit</button>
        </div>
    </form>
</div>






<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
